/*GENERAL-START*/
*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body{
	background: linear-gradient(to top, #999999, #333333);
	width: 100%;
	min-height: 100vh;
}

::selection{
	background: orange;
}
/*GENERAL-END*/

/*TOP-START*/
.logo{
	flex-basis: 1;
}

.logo img{
	flex-basis: 100%;
	width: 150px;
	height: auto;
	margin: 50px 50px;
	border-radius: 50%;
}

.logo img:hover{
	transform: scale(1.3);
	transition: transform 1s;
}

.wrapper .sidebar .profile ul li{
	margin-bottom: 20px;
	list-style: none;
}

.wrapper .sidebar .profile ul li a{
	color: white;
	display: inline-block;
	font-size: 16px;
	text-transform: uppercase;
	text-decoration: none;
	font-family: "Times New Roman", Times;
	border-bottom: 2px solid #FFFFFF;
	line-height: 25px;
	padding: 3px 20px;
}

.wrapper .sidebar .profile ul li a:hover{
	color: #008577;
	text-decoration: none;
	border-bottom: 2px solid #008577;
	border-radius: 20px;
}

.wrapper .sidebar .profile ul li img{
	height: 125px;
	width: 125px;
}

.wrapper .sidebar{
	background: linear-gradient(125deg, black, orange);
	position: fixed;
	z-index: 3;
	top: 0;
	right: 0;
	width: 225px;
	height: 100%;
	padding-top: 20px;
	text-align: center;
	transition: all 0.5s ease;
}

body.active .wrapper .sidebar{
	right: -225px;
}

.wrapper .sidebar .profile h3{
	font-size: 20px;
	color: white;
	font-family: "Times New Roman", Times;
}

.wrapper .sidebar .profile hr{
	margin-bottom: 15px;
	border-bottom: 3px solid #FFFFFF;
}

.wrapper .section{
	margin-right: 225px;
	transition: all 0.5s ease;
	position: fixed;
	right: 0;
	z-index: 3;
}

body.active .wrapper .section{
	margin-right: 0;
}

.wrapper .section .top_navbar{
	background: linear-gradient(125deg, orange, black);
	height: auto;
	width: auto;
	align-items: center;
	padding: 7px 10px;
	border-radius: 20%;
	margin-top: -260px;
}

.wrapper .section .top_navbar .hamburger a{
	font-size: 30px;
	color: white;
}
/*TOP-END*/

/*ABOUT-START*/
about .title{
	font-size: 40px;
	font-family: "Times New Roman", Times;
	font-weight: 700;
	color: white;
	margin-bottom: 30px;
	margin-top: 50px;
	text-transform: uppercase;
	letter-spacing: 10px;
	text-align: center;
	line-height: 40px;
	margin-right: 225px;
	transition: all 0.5s ease;
}

body.active about .title{
	margin-right: 0;
}

about .section .item{
	flex-basis: 80%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	border-radius: 10px;
	background-size: cover;
	margin-top: 30px;
	margin-bottom: 50px;
	margin-left: 5%;
	margin-right: 5%;
	padding: 30px;
	color: white;
	overflow: hidden;
	width: 80%;
	background: linear-gradient(to bottom, #008577, #00574B, #003338);
}

about .section .item a{
	color: orange;
}

about .section{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
/*ABOUT-END*/

/*PROJECTS-START*/
projects .title{
	font-size: 40px;
	font-family: "Times New Roman", Times;
	font-weight: 700;
	color: white;
	margin-bottom: 0;
	margin-top: 50px;
	text-transform: uppercase;
	letter-spacing: 10px;
	text-align: center;
	line-height: 40px;
	margin-right: 225px;
	transition: all 0.5s ease;
}

body.active projects .title{
	margin-right: 0;
}

projects .all-items{
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 30px;
	margin-bottom: 100px;
}

projects .item{
	display: flex;
	flex-direction: row;
	margin-bottom: 50px;
	color: white;
	width: 80%;
}

projects .item a{
	color: orange;
}

projects .item .info{
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	flex: 1;
	padding: 30px;
	z-index: 2;
	background: linear-gradient(to bottom, #008577, #00574B, #003338);
}

projects .item .info ul li{
	margin-left: 20px;
}

projects .item hr{
	width: 100%;
}

projects .item .project-title{
	font-size: 30px;
	font-family: "Times New Roman", Times;
	text-align: center;
}

projects .item .programming-language{
	font-size: 20px;
	font-family: "Times New Roman", Times;
	text-align: start;
}

projects .item .project-image{
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	flex: 1;
	overflow: hidden;
	width: 100%;
}

projects .item .project-image img{
	transition: 0.5s ease;
	z-index: 1;
	height: 100%;
	width: 100%;
}

projects .item .project-image img:hover{
	transform: scale(1.3);
}
/*PROJECTS-END*/

/*FOOTER-START*/
footer{
	width: 100%;
	bottom: 0;
	position: relative;
	background: linear-gradient(to bottom, #008577, #00574B, #003338);
	color: white;
	padding: 20px 25px;
	border-top-left-radius: 150px;
	border-bottom-right-radius: 225px;
	font-size: 18px;
	line-height: 25px;
	z-index: 1;
}

footer .title{
	font-size: 40px;
	font-family: "Times New Roman", Times;
	font-weight: 700;
	color: white;
	margin-bottom: 30px;
	margin-top: 0px;
	text-transform: uppercase;
	letter-spacing: 10px;
	text-align: center;
	line-height: 40px;
	margin-right: 225px;
	transition: all 0.5s ease;
}

body.active footer .title{
	margin-right: 0;
}

.row{
	width: 85%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
}

.column{
	flex-basis: 28%;
	padding: 10px;
}

.column h2{
	font-family: "Times New Roman", Times;
	font-size: 38px;
	padding-bottom: 25px;
	line-height: 38px;
}

.column h3{
	font-size: 15px;
	padding-bottom: 10px;
}

.column h4{
	padding-bottom: 10px;
}

.column a{
	line-height: 50px;
}

.column .fa{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	text-align: center;
	line-height: 40px;
	font-size: 20px;
	color: #000000;
	background: #FFFFFF;
	margin-right: 15px;
	opacity: 0.5;
}

.column .fa:hover{
	-webkit-animation: fadein 0.5s linear 1 normal forwards;
}

@-webkit-keyframes fadein{
    from { opacity: 0.75; }
    to { opacity: 1; }
}

hr{
	padding-top: 0px;
	border: 0;
	border-bottom: 1px solid #FFFFFF;
	margin: 20px auto;
	width: 90%
}

.copyright{
	text-align: center;
	font-size: 14px;
	margin-top: -10px;
}
/*FOOTER-END*/

/*MEDIA-START*/
@media only screen and (max-width: 1250px) {
	projects .item{
		display: flex;
		flex-direction: column;
		margin-bottom: 50px;
		color: white;
		width: 80%;
	}

	projects .item .info{
		border-top-left-radius: 50px;
		border-top-right-radius: 50px;
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
		flex: 1;
		padding: 30px;
		z-index: 2;
		background: linear-gradient(to bottom, #008577, #00574B, #003338);
	}

	projects .item .project-image{
		border-bottom-left-radius: 50px;
		border-bottom-right-radius: 50px;
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
		flex: 1;
		overflow: hidden;
		width: 100%;
	}
}
/*MEDIA-END*/